data/data_preparation/raw/
data/data_preparation/processed/processed_sample_pdfs/
.venv
.vscode
.cache/
__pycache__/
*__pycache__
*.pyc
*.DS_Store
.ipynb_checkpoints
*.egg-info/
.eggs/
uv.lock
.pytest_cache/
.ruff_cache/
